body {
    background: linear-gradient(135deg, #f709d963, #ff9b057d);
}

.progress > .progress-bar {
    width: 0%;
    transition: none;
}

.progress > .progress-bar.active {
    width: 100%;
    transition: width 1s linear;
}

#console-window {
    margin-top: 20px;
}

#console-window > .card-body {
    height: 200px;
    overflow-y: auto;
}

#stoneQuarryImg {
    width: 100%;
    opacity: 30%;
}

.image-div {
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#stoneQuarryUnlock {
    position: absolute;
}